# IDE settingFroms
.idea

# Sensitive data
.env

# Build artifacts
core/**/jt-slackbot-core
dialog/venv
dialog/**/*.egg-info
dialog/**/*.egg
dialog/**/*.eggs
dialog/**/*.sqlite3
dialog/**/__pycache__

# Metrics
logs

